<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>悅讀小說 - 書庫</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/booklist.css">
</head>
<body>
  {{> header }}
  {{> nav }}
  <section>
    <ul>
      {{#each books}}
      <a href="/book/{{id}}">
        <li>
          <span class="left"><img src="{{cover}}" alt="cover"></span>
          <span class="right"><h3 class="name">{{title}}</h3><div class="desc">{{desc}}</div></span>
        </li>
      </a>
      {{/each}}
    </ul>
    <div class="nextpage">
      {{#if prePage}}
      <a href="/book/list?page={{prePage}}">上一頁</a>
      {{/if}}
      {{#if nextPage}}
      <a href="/book/list?page={{nextPage}}">下一頁</a>
      {{/if}}
    </div>
  </section>
  {{> footer }}
</body>
</html>