<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>悅讀小說</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  {{> header }}
  {{> nav }}
  <section>
    <div class="title">
      <img src="/img/star.png" alt="tag">
      <span class="orange">主編力薦</span>
    </div>
    <div class="showcase">
      {{#each recommendThree}}
      <span class="item">
          <a href="/book/{{id}}">
            <img src="{{cover}}" alt="cover">
            <span>{{title}}</span>
          </a>
      </span>
      {{/each}}
    </div>
    <ul class="list">
      {{#each recommendOther}}
      <li>
        <a href="/book/{{id}}">
          <span class="tag orange">{{#if tag}}{{this}}{{else}}最新上架{{/if}}</span>
          <span class="name">{{title}}</span>
        </a>
      </li>
      {{/each}}
    </ul>
  </section>
  <section>
    <div class="title">
      <span class="red">最火爆</span>
    </div>
    <div class="best">
      {{#each hotOne}}
      <a href="/book/{{id}}">
        <span class="left"><img src="{{cover}}" alt="cover"></span>
        <span class="right"><h3 class="name">{{title}}</h3><div class="desc">{{desc}}</div></span>
      </a>
      {{/each}}
    </div>
    <ul class="list">
      {{#each hotOther}}
      <li>
        <a href="/book/{{id}}">
          <span class="tag red">{{#if tag}}{{this}}{{else}}最新上架{{/if}}</span>
          <span class="name">{{title}}</span>
        </a>
      </li>
      {{/each}}
    </ul>
  </section>
  {{> footer }}
</body>
</html>