<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>悦读小说 - 登录</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  {{> header }}
  {{> nav }}
  <section>
    <h1>请登录</h1>
    <div><a href="https://www.facebook.com/v2.11/dialog/oauth?client_id=362063270870546&redirect_uri=http://book.sarahhaa.com/v1/login/fb/callback&state=novel"
      class="fblogin"></a></div>
    <div>Facebook 登录</div>
  </section>
  {{> footer }}
</body>
</html>